/* DESKTOP VERSION */

/* --------------------------
:: 1.0 Navbar CSS Start
-------------------------- */
@media screen and (min-width: 992px) {
  .navbar-brand > img {
    width: 44%;
  }
  nav .nav-link {
    margin-bottom: 0;
  }
  nav ul {
    flex-direction: row !important;
    position: unset;
    height: auto;
    width: auto;
    transform: unset;
    opacity: 1;
    z-index: auto;
    padding: unset;
  }
  nav ul .nav-item,
  .nav-item.outside {
    padding: unset;
    border-right: thin solid #6e7582;
    border-bottom: unset;
  }
  .nav-link {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
  }
  .hamburger {
    display: none;
  }
  .nav-item.active::after {
    content: "";
    display: block;
    margin: auto;
    margin-bottom: -18px;
    border-bottom: 3px solid #ffd31d;
  }
  .outside input {
    left: 40px;
  }

  /* --------------------------
:: 2.0 Main CSS Start
-------------------------- */
  .main .logo {
    width: 100px;
  }
  /* --------------------------
:: 2.1 Score Board CSS Start
-------------------------- */
  .score-board {
    justify-content: end;
  }
  .left-player {
    margin-left: auto;
  }
  span.line {
    margin: auto 10px;
  }
  .score {
    padding-bottom: 20px;
  }
  .score h4 {
    font-size: 30px;
  }
  .score-board img {
    width: 60px;
  }
  .player-avatar::before {
    background-size: 50px;
    width: 50px;
    height: 50px;
  }
  .player-avatar::after {
    background-size: 50px;
    width: 50px;
    height: 50px;
  }
  .point > p {
    font-size: 26px;
  }
  .score .point {
    width: 30px;
    height: 30px;
  }
  /* --------------------------
  :: 2.2 Play CSS Start
  -------------------------- */
  .play-board {
    margin: -120px auto;
  }
  .play-board .avatar {
    width: 50px;
    height: 50px;
  }
  .play-board .card-basic {
    width: 100px;
  }
  .selected-player {
    top: -28;
    right: 50;
  }
  .selected-player #crown {
    width: 35px;
  }
  .selected-player #circle {
    top: 32;
    left: 7;
    width: 37px;
  }
  /* --------------------------
:: 2.3 Card Preview CSS Start
-------------------------- */
  .card-preview .card-basic {
    width: 50px;
  }
  /* --------------------------
:: 2.4 Card Deck CSS Start
-------------------------- */
  .card-deck .card-basic {
    width: 100px;
  }
  /* --------------------------
:: 3.0 Chat Room CSS Start
-------------------------- */
  .chat-room {
    width: 30%;
    transform: translateX(90%);
    transition: all 1s;
    opacity: 1;
    display: flex;
  }
  .square {
    background-color: #fff;
    width: 40px;
    height: 100px;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 6;
    z-index: 1;
  }
  .chat-board {
    width: 90%;
  }
}
