@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./normalize.css";

/* --------------------------
:: 0.0 Custom Normalize CSS Start
-------------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #2222;
  background-color: #ffffff;
  font-size: 14px;
  overflow: hidden;
}
body > * {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #232323;
  line-height: 1.2;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  color: #ffffff;
}
a,
a:hover,
a:focus,
a:active,
button,
button:hover {
  text-decoration: none;
  touch-action: manipulation;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
li {
  list-style: none;
}
p,
label {
  font-size: 14px;
  color: #232323;
}
.wrapper {
  display: flex;
}

/* --------------------------
:: 1.0 Navbar CSS Start
-------------------------- */
.navbar {
  padding: 0 0.3rem;
  flex-wrap: nowrap;
  z-index: 2;
}
.navbar-brand > img {
  width: 120px;
  height: auto;
}
.navbar p {
  color: #ffffff;
}
.avatar {
  position: relative;
  width: 2rem;
  height: 2rem;
  font-weight: 400;
  color: #6e7582;
  text-align: center;
  background: #f1f3f8 no-repeat center/cover;
  background-image: url(../img/default-avatar.png);
  border-radius: 50%;
}
.hamburger {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.hamburger input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 500ms;
}
.hamburger span:nth-child(2) {
  transform-origin: 0 0;
}
.hamburger span:nth-child(4) {
  transform-origin: 0 100%;
}
.hamburger input:checked ~ span:nth-child(2) {
  background-color: #f1f3f8;
  transform: rotate(45deg) translate(-1px, -1px);
}
.hamburger input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.hamburger input:checked ~ span:nth-child(4) {
  background-color: #f1f3f8;
  transform: rotate(-45deg) translate(-1px, 0);
}
nav ul {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  flex-direction: column !important;
  background-color: #343a40;
  width: 100%;
  transform: translateX(100%);
  transition: all 1s;
  opacity: 0;
  z-index: -2;
  padding-top: 60px;
}
nav ul.slide {
  transform: translateX(0);
  opacity: 1;
}
nav ul .nav-item {
  padding: 15px;
  border-bottom: thin solid #6e7582;
}

/* --------------------------
:: 2.0 Main CSS Start
-------------------------- */
.main {
  display: flex;
  background: url(../img/light-bg.png) no-repeat;
  background-size: cover;
  background-position: 33%;
  background-size: cover;
  padding-top: 70px;
  color: #fff;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.main .logo {
  width: 50px;
}
.outside {
  position: relative;
}
.outside input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: 0px;
  top: 4px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
/* --------------------------
:: 2.1 Score Board CSS Start
-------------------------- */
.score-board {
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
}
.score-board img {
  width: 40px;
}
.left-player {
  margin-left: -60px;
}
.left-player,
.right-player {
  display: flex;
  align-items: center;
}
.player-avatar {
  position: relative;
}
.player-avatar::before {
  content: "";
  background: url(/assets/img/default-avatar.png);
  background-size: 30px;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 4;
  left: 5;
}
.player-avatar::after {
  content: "";
  background: url(/assets/img/default-avatar.png);
  background-size: 30px;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  bottom: 4;
  left: 5;
}
.point > p {
  font-weight: bold;
}
.score {
  padding-bottom: 12px;
}
.score .point {
  background-color: #ffc107;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.left-player .score h4 {
  color: #fff;
  margin-left: 10px;
}
.left-player .score .point {
  margin-left: auto;
  text-align: center;
}
span.line {
  background-color: #fff;
  width: 8px;
  height: 5px;
  margin: auto;
}
.right-player .score h4 {
  color: #fff;
  margin-right: 10px;
}
.right-player .score .point {
  margin-right: auto;
  text-align: center;
}
/* --------------------------
:: 2.2 Play CSS Start
-------------------------- */
.play-board {
  margin: 20px auto 0;
}
.play-board .card-basic {
  width: 60px;
}
#player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#player.left {
  margin-right: 15px;
}
#player.top {
  margin-bottom: 15px;
}
#player.right {
  margin-left: 15px;
}
#player.bottom {
  margin-top: 15px;
}
#player.left .name,
#player.right .name,
#player.bottom .name {
  margin-top: 5px;
}
#player.top .name {
  margin-bottom: 5px;
}
#player .name {
  background-color: black;
  opacity: 0.7;
  border-radius: 5px;
}
#player .name p {
  color: #fff;
  font-size: 12px;
  padding: 2px;
  margin: 0;
}
.selected {
  position: relative;
}
.selected-player {
  position: absolute;
  display: block;
  top: -25;
  right: 48;
}
.selected-player #crown {
  position: absolute;
  top: 0;
  left: 10;
  width: 30px;
}
.selected-player #circle {
  position: absolute;
  top: 28;
  left: 13;
  width: 24px;
}
/* --------------------------
:: 2.3 Card Preview CSS Start
-------------------------- */
.card-preview {
  margin-top: -60px;
}
.card-preview .card-basic {
  width: 30px;
}
/* --------------------------
:: 2.4 Card Deck CSS Start
-------------------------- */
.card-deck {
  margin-top: 20px;
  padding-bottom: 5px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
}
.card-deck .card-item {
  max-width: 100%;
  flex-basis: 0;
  min-width: 0;
  flex-grow: 1;
}
.card-deck .card-basic {
  width: 40px;
}

/* --------------------------
:: 3.0 Chat Room CSS Start
-------------------------- */
.square {
  display: none;
}
.square .chat-btn input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.chat-room {
  display: none;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 1s;
  opacity: 1;
  z-index: 1;
}
.chat-room.slide {
  display: flex;
  transform: translateX(0);
}
.chat-board {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 70px 0 10px;
  box-sizing: border-box;
  position: relative;
}
.chat-btn {
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  position: relative;
}
.chat-btn span {
  display: block;
  width: 20px;
  height: 5px;
  background-color: #07a72f;
  border-radius: 3px;
  transition: all 500ms;
}
.chat-board .spectator {
  border-bottom: 1px solid #ced4da;
  position: relative;
  display: flex;
  flex-direction: column;
}
.chat-board .spectator .head {
  position: relative;
  display: flex;
  justify-content: center;
}
.chat-board .spectator .head .line {
  height: 1px;
  background-color: #ced4da;
  width: 30%;
}
.chat-board .spectator .list {
  margin: 10px auto;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 10px;
  background-color: #ced4da;
  border-radius: 10px;
  width: 90%;
  height: 100px;
  flex-direction: column;
}
.chat-board .spectator .list p {
  font-size: 12px;
}
.chat-board .spectator .list img {
  width: 20px;
  height: 20px;
}
.chat-board .chat {
  margin-top: 15px;
  width: 100%;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}
.chat .head {
  position: relative;
  display: flex;
  justify-content: center;
}
.chat .head .line {
  height: 1px;
  background-color: #ced4da;
  width: 30%;
}
.chat .room {
  display: flex;
  flex-direction: column;
}
.chat .room .cloud {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.chat .room .cloud.reverse {
  flex-direction: row-reverse;
}
.chat .room .cloud .avatar {
  width: 50px;
  height: 50px;
}
.chat .room .cloud .text {
  display: flex;
  align-items: center;
  background-color: #ced4da;
  height: 50px;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat .room .cloud.reverse .text {
  margin-right: 20px;
  margin-left: 0;
}
.chat .room .cloud.reverse .text p {
  margin-left: auto;
  text-align: right;
}
.chat-board .chat-form {
  position: relative;
}
.chat-form .input-group {
  padding: 5px 10px;
}
.chat-form input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
}
.chat-form .input-group-prepend > .btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #ced4da;
  border-left: none;
}
